<div class="container" dir="rtl" align="right" > 

        <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
              <h4 class="text-white">Collapsed content</h4>
              <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">سامانه بانکداری</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li [className]="isHomeActive ? 'nav-item active' : 'nav-item'" (click)="changeState(true)" >
                <a routerLink="/display" routerLinkActive="active" class="nav-link">مشتریان </a>
              </li>
              <li [className]="!isHomeActive ? 'nav-item active' : 'nav-item'"(click)="changeState(false)" >
                  <a routerLink="/register" routerLinkActive="active" class="nav-link">   افزودن مشتری جدید</a>
              </li>
            </ul>
          </div>    
          </nav>
          <router-outlet></router-outlet>
       